// ONLY USED TO STORE OUR VARIABLES

// Declares our variables
$primary-color: #444;
$show-home-image: true;
$home-image: url(../dist/img/background.jpg);
$background-opacity: 0.5;

$twitter-defult: #4682B4;
$twitter-hover: #1DA1F2;
$facebook-default: #3b5998;
$facebook-hover:  #3b5998;
$linkedIn-default: white;
$linkedIn-hover:  #0e76a8;
$github-default: #59bfff;
$github-hover: white;

@mixin fonts {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// For JS Animation

.ml1 {
    font-weight: 900;
    font-size: 92px;
    color: #3D4849;
  }
  
  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }

  // End of JavaScript Animation


// Creates a function
@mixin easeOut {
    transition: all 0.5s ease-in;
}

@mixin twitterAnimation {
    color: $twitter-hover;
    transition: ease-in-out;
}

@mixin facebookAnimation {
  color: $facebook-hover;
  transition: ease-in-out;
}

@mixin linkedInAnimation {
  color: $linkedIn-hover;
  transition: ease-in-out;
}

@mixin gitHubAnimation {
  color: $github-hover;
  transition: ease-in-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            
            .overlay {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
}
